body
{
	background: url(../images/background.png);
	font-size: 10px;
}

#content 
{ 
	margin: 0px auto 0px auto; padding: 5px 25px;
	width: 480px; min-width: 300px; overflow: auto;
	border-left: 1px solid #444; border-top: 1px solid #444; 
	border-right: 1px solid #333; border-bottom: 1px solid #333;
 	background-color: #000000; 
}

#link
{
	text-align: center;
}
